#This incrememnets the version to trigger an the release action every tuesday and friday
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:
jobs:
  auto:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: setConfig files
        run: |
          git config --local user.email "poketrax@gmail.com"
          git config --local user.name "github-actions[bot]"
      - name: Increment version
        run: npm version patch
      - name: Pull data
        run: |
          npm run build
          node ./dist/price-scrapper.js -a -l -h
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.JPG_ACTION_TOKEN }}
          branch: ${{ github.ref }}
      - name: Get latest tag number
        uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag
      - name: Bump Version
        uses: actions-ecosystem/action-bump-semver@v1
        id: bump-semver
        with:
          current_version: ${{ steps.get-latest-tag.outputs.tag }}
          level: minor
      - name: Create tag
        uses: actions-ecosystem/action-push-tag@v1
        with:
          tag: ${{ steps.bump-semver.outputs.new_version }}
          message: "${{ steps.bump-semver.outputs.new_version }}: PR #${{ github.event.pull_request.number }} ${{ github.event.pull_request.title }}"
